
.topb{
    /* margin: 400px 400px 400px 670px; */
    /* padding */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.page .product1{
   margin-left: 160px;
   margin-top: 50px;
}
.page{
    font-family: "Source Sans Pro", Roboto, Arial, sans-serif;
    font-size:x-large;
    /* width: 100vh; */
    /* display: grid; */
    /* grid-template-rows: 200px; */
}
.txt1{
    margin-left: 700px;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
    
}
.p1{
    border-radius: 3px;
    /* width: 50px; */
}

.p1:hover{
    
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.85);

}
.topbrand{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}
.p2{
    border-radius: 3px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.55); */
    margin-right: 10px;
    margin-bottom: 10px;
}
.p2:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.85);

}
.p3{
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.55); */
}
.p3:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.85);
}
.p4{
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.55); */
}
.p4:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.85);
}
.p5{
    border-radius: 3px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.55); */
    margin-left: 10px;
}
.p5:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.85);
}
.p6{
    border-radius: 3px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.55); */
    margin-right: 10px;
    margin-bottom: 10px;
}
.p6:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.85);
}
.p7{
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.55); */
}
.p7:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.85);
}
.p8{
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 3px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.55); */
}
.p8:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.85);
}
.p10{
    border-radius: 3px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.55); */
    margin-left: 10px;
}
.p10:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.85);
}
.p9{
    border-radius: 3px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.55); */
    margin-left: 310px;
    margin-top: 10px;
}
.p9:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.85);
}