.Productpage{
    background-color: rgb(228, 224, 224);
    display: flex;
 height: 100%;
 width: 100%;  
 flex-wrap: wrap;
 /* overflow: auto; */
 padding:5px;
 justify-content: center;
 align-items: center;
 box-sizing: border-box;
}
